@font-face {
  font-family: 'rajdhani-bold';
  src: url('../assets/font/rajdhani-bold-webfont.woff2') format('woff2'),
       url('../assets/font/rajdhani-bold-webfont.woff') format('woff');
 
}

@font-face {
  font-family: 'rajdhani-light';
  src: url('../assets/font/rajdhani-light-webfont.woff2') format('woff2'),
       url('../assets/font/rajdhani-light-webfont.woff') format('woff');

}

@font-face {
  font-family: 'rajdhani-medium';
  src: url('../assets/font/rajdhani-medium-webfont.woff2') format('woff2'),
       url('../assets/font/rajdhani-medium-webfont.woff') format('woff');

}

@font-face {
  font-family: 'rajdhani-regular';
  src: url('../assets/font/rajdhani-regular-webfont.woff2') format('woff2'),
       url('../assets/font/rajdhani-regular-webfont.woff') format('woff');

}

@font-face {
  font-family: 'rajdhani-semibold';
  src: url('../assets/font/rajdhani-semibold-webfont.woff2') format('woff2'),
       url('../assets/font/rajdhani-semibold-webfont.woff') format('woff');

}